<div class="container">
  <div id="room-question">
    {{data.situation}}
  </div>

  <div ng-show="userStatus()==='ok'" id="room-question">
    <textarea ng-model = 'situation' type="text" id="lobby-new-situation" placeholder="Enter your answer">
    </textarea>
    <button ng-click="submitAnswer()">Submit</button>
  </div>

  <div ng-show="userStatus()==='singedOut'" id="room-question">
    <a ng-click="signIn()"> Sign in and choose a character to reply </a>
  </div>

    <div ng-show="userStatus()==='noChar'" id="room-question">
    <a href="characters"> Choose a character to reply </a>
  </div>

  <div class="room-answers" ng-repeat="(key, value) in data.replies">
    <div class='info'>
      <div class='visits'> {{value.character}}</div>
      <div class='visits'> {{value.reply}}</div>
    </div>
  </div>
  
</div>