<div class="container">
  <div class="room-question">
    {{data.situation}}
  </div>

  <div ng-show="userStatus()==='ok'" id="room-question">
    <textarea ng-model = 'situation' type="text"  class="form-control" rows="5" placeholder="Enter your answer">
    </textarea>
    <button ng-click="submitAnswer()">Submit</button>
  </div>

  <div ng-show="userStatus()==='singedOut'" id="room-question">
    <a ng-click="signIn()"> Sign in and choose a character to reply </a>
  </div>

    <div ng-show="userStatus()==='noChar'" id="room-question">
    <a href="characters"> Choose a character to reply </a>
  </div>

  <div class="room-answers" ng-repeat="(key, value) in data.replies">
    <div class='room-answer'>
      <div > {{value.character}}</div>
      <div > {{value.reply}}</div>
    </div>
  </div>
  
</div>