<div class="container">
  <div class="room-question">
    {{data.situation}}
  </div>

  <div ng-show="show3()" class="room-newanswer">
    <textarea ng-model = 'situation' type="text"  class="form-control" rows="5" placeholder="Enter your answer">
    </textarea>
    <button ng-click="submitAnswer()">Submit</button>
  </div>

  <div ng-show="show1()" class="room-newanswer">
    <div ng-click="signIn()"> Sign in and choose a character to reply </div>
  </div>

  <div ng-show="show2()" class="room-newanswer">
    <div ng-click="roomSelectChar()" href="/#/characters"> Choose a character to reply </div>
  </div>

  <div class="room-answers" ng-repeat="(key, value) in data.replies">
    <div class='room-answer'>
      <div > {{value.character}}</div>
      <div > {{value.reply}}</div>
    </div>
  </div>
  
</div>